# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

(
# Wait for network to be fully initialized
sleep 10
sendmail -t << EOF
To: {{ notification_email }}
Subject: Reboot {{ inventory_hostname }}


Openwrt rebooted:

`date`

EOF
) &

exit 0
