# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

(
# Wait for network to be fully initialized
sleep 20
sendmail -t << EOF
To: {{ notification_email }}
Subject: Reboot {{ inventory_hostname }} - $(date "+%Y-%m-%d %H:%M")


OpenWRT rebooted:

$(date)
EOF
) &

exit 0
