# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

(
# Wait for network to be fully initialized
sleep 20
sendmail -t << EOF
To: {{ notification_email }}
Subject: Reboot {{ inventory_hostname }} - $(date "+%Y-%m-%d %H:%M")
MIME-Version: 1.0
Content-Type: text/html; charset=UTF-8

<html>
<body>
    <h4>🔄 {{ inventory_hostname }} rebooted: $(date)</h4>
    <summary>📋 Last logs:</summary>
    <pre style="font-size: 10px;">
$(tail -150 /var/log/system.log)
    </pre>
    </details>
</body>
</html>
EOF
) &

exit 0
