ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF58juRs3gDSCFXARSXBBSegOmmBxXln9MVk2Zcq3HGh petr.ruzicka@gmail.com
{% if inventory_hostname == 'gate.xvx.cz' %}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH4+CxONzJ+y/Vwhwpd32epfyg+cxpFnDnFSDv4aI1KU backup@peru.xvx.cz
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPaYlFQ5aGKq1OJyl0U9KIrSGruT6ZWRtoOkjT2rz4u backup@raspi.xvx.cz
{% endif %}
