ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAgEAsCMZRsbSs+Iyb7JrTAhUwKhPH5bgFquoCjurtB/7wdgKwL+Cad1NxKeApwFQKV4f8h3DTz3c5O81bPBUk8OfRH/SWiM23+XRnX9cKTEUr1cBAd7IdD4RS0gKdvArvmgxVcj94OgmYeDkSMvuanbvTBcBesyLgXDw3DzUg77C78kSKB4KpQyKPyXXTGf6mof0/Ipa15vR5xt/QP7ztAGJIflN/M1xrWlkMONvfr2dY/mKijcsgiK94EF3qHpwr737mZhB5fr/vjaQNYSTi9VQMz4Mozl0EYuAdJCjHppd459dlPh9SZMePUTl6DiR+4Az7ad45UMWV4snIflTEo4/53a4euogBI1IT5Xl1j8TqBKLfVNrxlN+gA8qbznVH0Uw1dDeEsdXl6O8K4/BHE+xgzqxwnYXiVE6KFyCBNWvhosfLoLk9RIRqzKYqjII6pRj68EYVl8bOAqKQkxCoDUpLYHvOBkx6422VApsUZjfNUlvXONlKB/9l9CkTF0S9P13ECjl+/v/y34c+NSUIA2cuPaQEV5rulE7DHeaRzO3Dpg6Pkxwl9qYokZlmc5nbd2T8idXVRZAhN1gLhR6303J8v+izLPdWJDxDNGrm9q1/5KQh57ZfVoehF1Bbrt4jlaXmiYR8Egu9XhQzAIX76doDDUVnUNBeIewiYTzkxZaCiM= petr.ruzicka@gmail.com
{% if inventory_hostname == 'gate.xvx.cz' %}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCxEaOiHs/4GhWtriuuBuovaCprNd18v1Rc4ju7SlLdlRQgTQIPEHqSOqj2W26iQOIulCr+1qXY9QBg5Opbuzs6t+JUGTTOhEYDbNH9Pz8isCZlOhJoAjFQ3fZDdL44j/OTJzGCump0VnXZOZjFHv1amb4pPVe0SvwdWu/C2yKarIQo2Jm7sp9YIDTMyJCZKZxY9xjCiF0yljOLYy5B9Jm9X9LkSd8B1VoiEXG/CsQcgGVvxlK67Kj+CXnkopxFHOo3AYRCcKoNXTyWVsZpE6fnGxaS1hwoh9rp6kgfl5mPIP4XgY+q9rd7qIaCnRAcWUTLr8/fB80ORB5ZlZozHrFYjx3U1dbyS/WMbKL9SsylU2R/rZZS2eIwFPjCVIpPOhiyibhgIr5YjAP0/d8HNhIv73SVCTeWwoZf+teMW6fLfZo5JfvX+MV6zrU/B3rAp3MhGxoa1RhzwF2Oxllv4oV97/nSIAlr3LAf4dqJSL4R3ltR/bwwX/UeiTy99X5wVd1x48E17Gmx7G2mRgEY8EJkPBJ8jtA1Dfo7KdkGEvbRk/ocGq9CRQIPtkZpuYhrOtFQSSjqKRCv6NkMMzmuiF5cI3nQDirl8Pgmj+aN0Ap/TpPnztmqI38YUhKMGDMXZHXt9FusshmDwOd89Gq9P/wJ9+nikrLdEmTwY8DEskU+UQ== root@peru.xvx.cz
{% endif %}
