config samba
	option 'name'			'{{ inventory_hostname }}'
	option 'workgroup'		'WORKGROUP'
	option 'description'		'OpenWrt'

config 'sambashare'
        option 'name' 'torrents-completed'
        option 'path' '{{ usb_disk_mount_path }}/torrents/torrents-completed'
        option 'guest_ok' 'yes'
        option 'read_only' 'yes'

config 'sambashare'
        option 'name' 'torrents-completed-rw'
        option 'path' '{{ usb_disk_mount_path }}/torrents/torrents-completed'
        option 'guest_ok' 'no'
        option 'users' 'root'
        option 'read_only' 'no'
