config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/a000000.wifi'
	option band '2g'
	option channel '{{ wifi_2ghz_channel }}'
	option htmode 'VHT40'
	option cell_density '0'
	option country 'CZ'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ wifi_ssid }} 2.4 GHz'
	option encryption 'sae-mixed'
	option key '{{ wifi_password }}'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/a800000.wifi'
	option band '5g'
	option channel '{{ wifi_5ghz_channel }}'
	option htmode 'VHT80'
	option cell_density '0'
	option country 'CZ'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ wifi_ssid }} 5 GHz'
	option encryption 'sae-mixed'
	option key '{{ wifi_password }}'
	option wpa_disable_eapol_key_retries '1'
