
config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fdbf:ff49:6877::/48'
	option packet_steering '1'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'lan1'
	list ports 'lan2'
	list ports 'lan3'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '{{ network_subnet | ansible.utils.ipaddr(1) | regex_replace('^([^/]*).*', '\\1') }}'
	option netmask '{{ network_subnet | ansible.utils.ipaddr('netmask') }}'
	option ip6assign '60'

config interface 'wan'
	option device 'wan'
	option proto 'dhcp'
	option peerdns '0'
	option dns '{{ dns_servers | regex_replace(",", " ") }}'

config interface 'wan6'
	option device 'wan'
	option proto 'dhcpv6'
	option peerdns '0'
	option dns '{{ dns_servers_ipv6 }}'

config device 'guest_dev'
	option type 'bridge'
	option name 'br-guest'

config interface 'guest'
	option proto 'static'
	option device 'br-guest'
	option ipaddr '{{ guest_network_subnet | ansible.utils.ipaddr(1) }}'
