config wifi-device 'radio0'
	option type 'mac80211'
	option channel '{{ wifi_5ghz_channel }}'
	option hwmode '11a'
	option path 'pci0000:00/0000:00:00.0'
	option htmode 'VHT80'
	option country 'CZ'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ wifi_ssid }} 5 GHz'
	option encryption 'sae-mixed'
	option key '{{ wifi_password }}'
	option wpa_disable_eapol_key_retries '1'

config wifi-device 'radio1'
	option type 'mac80211'
	option channel '{{ wifi_2ghz_channel }}'
	option hwmode '11g'
	option path 'platform/qca956x_wmac'
	option htmode 'HT20'
	option country 'CZ'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ wifi_ssid }} 2.4 GHz'
	option encryption 'sae-mixed'
	option key '{{ wifi_password }}'
	option wpa_disable_eapol_key_retries '1'

config wifi-iface 'wwan'
	option device 'radio1'
	option mode 'sta'
	option network 'wwan'
	option ssid '{{ wwan_wifi_ssid }}'
	option encryption 'psk'
	option key '{{ wwan_wifi_password }}'

config wifi-iface 'guest'
	option device 'radio0'
	option network 'guest'
	option mode 'ap'
	option ssid '{{ wifi_ssid }} Guest'
	option encryption 'none'
