#!/bin/sh

/bin/echo `/bin/date +"%F %T"` $* >> /etc/dnsmasq.script.log

if [ "$1" == "add" ] && ! grep -iq $2 /etc/config/dhcp; then
  cat << EOF | sendmail {{ notification_email }}
Subject: New MAC on {{ inventory_hostname }}


`/bin/date +"%F %T"`

$*
EOF
fi
