config samba
	option 'name'			'{{ inventory_hostname }}'
	option 'workgroup'		'WORKGROUP'
	option 'description'		'OpenWrt'

config 'sambashare'
        option 'name' 'music'
        option 'path' '{{ usb_disk_mount_path }}/Music'
        option 'guest_ok' 'yes'
        option 'read_only' 'yes'

config 'sambashare'
        option 'name' 'music-rw'
        option 'path' '{{ usb_disk_mount_path }}/Music'
        option 'guest_ok' 'no'
        option 'users' 'root'
        option 'read_only' 'no'

config 'sambashare'
        option 'name' 'movies'
        option 'path' '{{ usb_disk_mount_path }}/movies'
        option 'guest_ok' 'yes'
        option 'read_only' 'yes'

config 'sambashare'
        option 'name' 'movies-rw'
        option 'path' '{{ usb_disk_mount_path }}/movies'
        option 'guest_ok' 'no'
        option 'users' 'root'
        option 'read_only' 'no'

config 'sambashare'
        option 'name' 'backups-rw'
        option 'path' '{{ usb_disk_mount_path }}/backups'
        option 'guest_ok' 'no'
        option 'users' 'root'
        option 'read_only' 'no'
